<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sunday Candy</title>
    </head>
    <body>
        <h1> candy for everyone </h1>
        {{#each customer}}
            <li>{{firstName}}</li>
        {{/each}}
        
    </body>
</html>
